<header class="app-header">
  <div class="header-section">
    <div class="brand">
      <div class="logo-placeholder">A</div>
      <h1 class="app-title">My Angular App</h1>
    </div>
  </div>

  <div class="header-section middle"></div>

  <!--  <div class="header-section">
    @if (user()) {
      <div class="user-info">
        <div class="user-details">
          <span class="user-name">{{ user()?.name }}</span>
          <span class="user-role">{{ user()?.role }}</span>
        </div>
        <img
          [src]="user()?.avatarUrl || 'assets/default-avatar.png'"
          alt="User Avatar"
          class="avatar"
        />
      </div>
    } @else {
      <button class="login-btn">Sign In</button>
    }
  </div> -->
</header>
