<h2>Create New Book</h2>

<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Title</label>
    <input formControlName="title" placeholder="Enter title" />
    @if (bookForm.get('title')?.touched && bookForm.get('title')?.invalid) {
      <small style="color: red">Title is required (min 3 chars).</small>
    }
  </div>

  <div>
    <label>Author</label>
    <input formControlName="author" placeholder="Enter author" />
  </div>

  <button type="submit" [disabled]="bookForm.invalid || store.isLoading()">
    @if (store.isLoading()) {
      Saving...
    } @else {
      Save Book
    }
  </button>
</form>
